<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<routes>

<route>
    <origin>Auckland</origin>
    <destination>Changi</destination>
    <companyName>Singapore Air</companyName>
    <maxWeight>2000</maxWeight>
    <maxVolume>40</maxVolume>
    <weightCost>2.0</weightCost>
    <volumeCost>4.0</volumeCost>
    <mailcost>2.0</mailcost>
    <frequency>3</frequency>
    <estimatedDeliveryTime>100</estimatedDeliveryTime>
    <priority>International Air</priority>
  </route>
<route>
    <origin>Wellington</origin>
    <destination>Changi</destination>
    <companyName>Singapore Air</companyName>
    <maxWeight>200</maxWeight>
    <maxVolume>40</maxVolume>
    <weightCost>2.0</weightCost>
    <volumeCost>4.0</volumeCost>
    <mailcost>2.0</mailcost>
    <frequency>3</frequency>
    <estimatedDeliveryTime>100</estimatedDeliveryTime>
    <priority>International Air</priority>
  </route>
<route>
    <origin>Auckland</origin>
    <destination>New York</destination>
    <companyName>FedEx</companyName>
    <maxWeight>500</maxWeight>
    <maxVolume>40</maxVolume>
    <weightCost>5.0</weightCost>
    <volumeCost>6.0</volumeCost>
    <mailcost>2.0</mailcost>
    <frequency>3</frequency>
    <estimatedDeliveryTime>120</estimatedDeliveryTime>
    <priority>International Air</priority>
  </route>
<route>
    <origin>Palmerston North</origin>
    <destination>Dunedin</destination>
    <companyName>MainFreight</companyName>
    <maxWeight>10000</maxWeight>
    <maxVolume>800</maxVolume>
    <weightCost>2.0</weightCost>
    <volumeCost>4.0</volumeCost>
    <mailcost>2.0</mailcost>
    <frequency>3</frequency>
    <estimatedDeliveryTime>24</estimatedDeliveryTime>
    <priority>Domestic Air</priority>
  </route>
<route>
    <origin>Chrischurch</origin>
    <destination>Hastings</destination>
    <companyName>New Zealand Post</companyName>
    <maxWeight>10000</maxWeight>
    <maxVolume>700</maxVolume>
    <weightCost>2.0</weightCost>
    <volumeCost>4.0</volumeCost>
    <mailcost>2.0</mailcost>
    <frequency>3</frequency>
    <estimatedDeliveryTime>24</estimatedDeliveryTime>
    <priority>Domestic Air</priority>
  </route>
<route>
    <origin>Napier</origin>
    <destination>New Castle</destination>
    <companyName>MainFreight</companyName>
    <maxWeight>5000</maxWeight>
    <maxVolume>20</maxVolume>
    <weightCost>8.0</weightCost>
    <volumeCost>6.0</volumeCost>
    <mailcost>4.0</mailcost>
    <frequency>3</frequency>
    <estimatedDeliveryTime>130</estimatedDeliveryTime>
    <priority>International Sea</priority>
  </route>
</routes>
